.bottom-sticky {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 45vw;
    height: 30vh;
    font-size: 0.9rem;
}

#console-output {
    width: 100%;
    height: 100%;
    overflow: scroll;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    background-color: rgba(149, 165, 166, 0.4);
}

#console-output::-webkit-scrollbar {
    width: 0;
    background: transparent;
}